@import url(basic/_reset.css);
@import url(basic/_fonts.css);
@import url(basic/_global.css);
@import url(basic/_vars.css);

@import url(components/_header.css);
@import url(components/_btn.css);
@import url(components/_footer.css);

@import url(home/_beautiful.css);
@import url(home/_cards.css);
@import url(home/_korba.css);
@import url(home/_trail.css);

* {
  box-sizing: border-box;
}
body {
    background-color: var(--Deep-Void);
}