:root {
    --Lavender-Mist: #E9DEFF;
    --Deep-Void: #0B001A;
    --Pure-Light: #FFFFFF;
    --Royal-Night: #1E0044;
    --Midnight-Pulse: #170034;
    --Urban-Ash: #56514D;
    --font-family: 'Montserrat', sans-serif;
    --third-family: 'Georgia', sans-serif;
}