.awards {
    margin-bottom: 40px;
}

.awards__inner {
    color: var(--Deep-Void);
    font-family: var(--font-family);
    justify-content: space-between;
    padding: 60px 40px 60px 40px;
    display: flex;
    gap: 40px;
    border-radius: 40px;
    background-color: var(--Lavender-Mist);
}

.awards__content {
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.awards__main {
    font-weight: 500;
    font-size: 50px;
    letter-spacing: -2%;
}

.awards__list {
    bottom: 58px;
    display: flex;
    flex-direction: column;
    left: 605px;
    position: relative;
}

.awards__items {
    min-height: 58px;
    min-width: 715px;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    border-bottom: 1px solid var(--Midnight-Pulse);
    border-top: 1px solid var(--Midnight-Pulse);
}

.awards__info {

}

.awards__text {
    display: block;
    font-size: 22px;
    font-weight: 500;
}

.awards__subtext {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}