.awards {
    margin-bottom: 40px;
}

.awards__inner {
    color: var(--Deep-Void);
    font-family: var(--font-family);
    padding: 60px 40px 60px 40px;
    border-radius: 40px;
    background-color: var(--Lavender-Mist);

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.awards__content {
    height: 392px;
    width: 605px;
    display: flex;

}

.awards__main {
    font-weight: 500;
    font-size: 50px;
    letter-spacing: -2%;
}

.awards__list {
    height: 392px;
    width: 715px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    position: relative;
}


.awards__items {
    padding: 20px 0px;
    min-height: 58px;
    min-width: 715px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--Midnight-Pulse);
}


.awards__info {
    min-height: 58px;

}

.awards__text {
    display: block;
    font-size: 22px;
    font-weight: 500;
}

.awards__subtext {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}