.trail {
    margin-bottom: 40px;
}

.trail__inner {
    font-family: var(--font-family);
    color: var(--Lavender-Mist);
    justify-content: space-between;
    padding: 40px;
    display: flex;
    gap: 40px;
    border-radius: 40px;
    flex-direction: row-reverse;
    background-image: url('/images/backTrail.png');
}

.trail__content {
    color: var(--Lavender-Mist);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.trail__img {
    margin-left: 150px;
    position: relative;
}
.trail__badge {
    position: absolute;
    top: 1870px;
    left: 878px;
    opacity: 80%;
}
.trail__subtitle {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
}

.trail__title {
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 50px;
    line-height: 100%;
}

.trail__tags {
    justify-content: left;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.trail__tag {
    padding: 6px 12px;
    border-radius: 50px;
    border: 1px solid var(--Lavender-Mist);
    font-size: 14px;
}


.trail__text {
    margin-top: auto;
    margin-bottom: 32px;
    font-size: 14px;
}

.trail__btn {
    box-shadow: 0 0 3px 0 rgba(162, 45, 247, 0.1), 0 0 7px 0 rgba(162, 45, 247, 0.1), 0 0 13px 0 rgba(162, 45, 247, 0.1), 0 0 25px 0 rgba(162, 45, 247, 0.1), 0 0 47px 0 rgba(162, 45, 247, 0.1), 0 0 19px 9px rgba(162, 45, 247, 0.1);
    background: var(--royal-night);
    border: 1px solid var(--Deep-Void);
    padding: 10px 20px;
    border-radius: 20px;
    margin-right: auto;
    font-size: 14px;
}