.footer {
    margin-bottom: 20px;
}
.footer__inner {
    font-family: var(--font-family);
    color: var(--Lavender-Mist);
    background-color: var(--Royal-Night);
    display: flex;
    flex-direction: column;
    padding: 40px;
    border-radius: 40px;
}
.nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.footer__list {
    font-size: 14px;
    display: flex;
    justify-content: right;
    gap: 12px;
}

.footer__link {
    font-weight: 500;
}

.footer__content {
    padding: 70px 0px 0px;
    text-align: center;
    padding-bottom: 60px;
}

.footer__text {
    font-size: 100px;
    font-weight: 400;
    line-height: 100%;

}

.footer__img {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.footer__down {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 400;
}